.inactiveCase {
    margin: auto;
    width: 95%;
     margin-bottom: 12px;
     background-color: #FEDB37;
     opacity: 0.5;
     filter: alpha(opacity=50);
 }
.activeCase {
    margin: auto;
    width: 95%;
    margin-bottom: 12px;
    background-color: #FEDB37;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FEDB37 0 2px 12px;
}

.button {
    border-radius: 16px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.openedCase {
    margin: auto;
    width: 95%;
    margin-bottom: 12px;
    background-color: #FEDB37;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FEDB37 0 2px 12px;
    -webkit-animation: blinkYellow 1s infinite;
    -moz-animation: blinkYellow 1s infinite;
    -ms-animation: blinkYellow 1s infinite;
    -o-animation: blinkYellow 1s infinite;
    animation: blinkYellow 1s infinite;
}


 @-webkit-keyframes blinkYellow {
     from { background-color: #FEDB37; }
     50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FEDB37 0 2px 0; }
     to { background-color: #FEDB37; }
 }
 @-moz-keyframes blinkYellow {
     from { background-color: #FEDB37; }
     50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FEDB37 0 2px 0; }
     to { background-color: #FEDB37; }
 }
 @-ms-keyframes blinkYellow {
     from { background-color: #FEDB37; }
     50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FEDB37 0 2px 0; }
     to { background-color: #FEDB37; }
 }
 @-o-keyframes blinkYellow {
     from { background-color: #FEDB37; }
     50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FEDB37 0 2px 0; }
     to { background-color: #FEDB37; }
 }
 @keyframes blinkYellow {
     from { background-color: #FEDB37; }
     50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FEDB37 0 2px 0; }
     to { background-color: #FEDB37; }
 }
