@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to GameHub</h1>
    <div style="margin-top: 40px;">
        <div class="row">
            <div class="col-3">
            </div>
            <div class="col-3" style="margin-top: 25px;">
                <p> <a href="/Session/SignIn">Login</a> or <a href="/Session/SignIn">create an account</a> now to play awesome games, like Beat the Banker.</p>
                <p>If you don't want to use your personal email to sign-up you could always use a box from <a href="https://www.mailinator.com" target="_blank">Mailinator</a></p>
            </div>
            <div class="col-6">
                <img src="Images/BeatTheBanker/BeatTheBanker01.PNG" style="width: inherit;" />
            </div>
        </div>
    </div>
</div>
